# axum-quickstart environment variables

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/axum_db

# Redis
REDIS_URL=redis://127.0.0.1:6379

# WebAuthn
AXUM_WEBAUTHN_RP_ID=localhost
AXUM_WEBAUTHN_ORIGIN=http://localhost:8080
AXUM_WEBAUTHN_RP_NAME='Axum Quickstart'

# Server
API_BIND_ADDR=127.0.0.1:8080

# Logging
RUST_LOG=info
